@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	font-family: "游ゴシック", YuGothic, Helvetica, Arial, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	color: #fff;
	line-height: 1.6;
	background: #000;
	padding: 20px 30px;
}
